################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleReturnJson/obj/ConsoleReturnJson.csproj.nuget.dgspec.json
/ConsoleReturnJson/obj/ConsoleReturnJson.csproj.nuget.g.props
/ConsoleReturnJson/obj/ConsoleReturnJson.csproj.nuget.g.targets
/ConsoleReturnJson/.vs/ConsoleReturnJson/FileContentIndex/335b3975-5eab-4754-8c9a-1daf79abef48.vsidx
ConsoleReturnJson/.vs/
